<div class="Box box-shadow-medium rounded-1 col-12">
    {%- if post.image -%}
    <div class="col-4 d-table-cell v-align-middle">
        <img class="image-preview " src="{{ post.image | relative_url }}" />
      </div>
    {%- endif -%}
    <div class="col-8 d-table-cell p-3">
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <p class="post-meta-description">{{ post.description }}</p>
        <p class="post-meta">
            {{ post.date | date: date_format }}
            {%- if post.author -%}
            • {% for author in post.author %}
              <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
                {%- if forloop.last == false %}, {% endif -%}
              {% endfor %}
            {%- endif %}
        </p>
        
        {% if post.categories.size > 0 and site.show_tags %}
          <p class="category-tags"><i class="fas fa-tags category-tags-icon"></i></i> 
          {% for category in post.categories  %}
            <a class="category-tags-link" href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
            {% unless forloop.last %}&nbsp;{% endunless %}
          {% endfor %}
          </p>
        {% endif %}
    </div>
</div>

<style>
    @media screen and (min-width: 768px) {
        .image-preview {
            display: block;
        }
        .col-4 {
            padding: 16px !important;
        }
    }
    @media screen and (max-width: 767px) {
        .image-preview {
            display: none;
        }
        .col-4 {
            width: 0%;
        }
        .col-8 {
            width: 100%;
        }
    }
</style>
